h1{
color: brown;
background-color: cornsilk;
}
.Btn{
    background-color: black;
    color: aliceblue;
}
div{
    background-color:aliceblue;
}
button:active {
  color: red;
}
.huge{
font-size: 50rem;
color:violet;
background-color: turquoise;
}